.btn {
  box-shadow: none;
}

/*
html.light-mode {
	  $link-color: $purple-000;
  	$body-background-color: $white;
  	$body-text-color: $grey-dk-100;
}

html.dark-mode {
    $link-color: $blue-000;
    $body-background-color: $grey-dk-300;
    $body-text-color: $grey-lt-300; 
}

@media (prefers-color-scheme: dark) {
    html.dark-mode {
      $link-color: $blue-000;
    	$body-background-color: $grey-dk-300;
    	$body-text-color: $grey-lt-300; 
    }

    html.light-mode {
      $link-color: $purple-000;
      $body-background-color: $white;
      $body-text-color: $grey-dk-100;
  } 
}*/

@media(min-width: 50rem) {
    html.dark-mode .main-content-wrap {
        padding-top:2rem;
        padding-bottom: 2rem
    }
}

html.dark-mode .main-header {
    z-index: 0;
    display: none;
    background-color: #27262b
}

@media(min-width: 50rem) {
    html.dark-mode .main-header {
        display:flex;
        justify-content: space-between;
        height: 60px;
        background-color: #27262b;
        border-bottom: 1px solid #44434d
    }
}

@media (min-width: 50rem) {
    .side-bar + .main .main-header {
        display: flex;
        background-color: #fff;
    }
}
.side-bar + .main .main-header {
    background-color: #fff;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  max-height: 40vh;
}

/*
.main-header{
  position: sticky;
  top: 0;
  z-index: 1;
}*/

.search-overlay {
  position: relative;
}

h1 {
  margin-top: 0.5rem;
}