.btn {
  box-shadow: none;
}

html, html[data-theme="light"] {
	$link-color: $purple-000;
  	$body-background-color: $white;
  	$body-text-color: $grey-dk-100;
}

html[data-theme="dark"] {
    $link-color: $blue-000;
    $body-background-color: $grey-dk-300;
    $body-text-color: $grey-lt-300; 
}

@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
      $link-color: $blue-000;
    	$body-background-color: $grey-dk-300;
    	$body-text-color: $grey-lt-300; 
    }

    html[data-theme="light"] {
	$link-color: $purple-000;
  	$body-background-color: $white;
  	$body-text-color: $grey-dk-100;
  } 
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  max-height: 40vh;
}

/*
.main-header{
  position: sticky;
  top: 0;
  z-index: 1;
}*/

.search-overlay {
  position: relative;
}

h1 {
  margin-top: 0.5rem;
}