@media (min-width: 50rem) {
    .side-bar + .main .main-header {
        display: flex;
        background-color: #eeebee;
    }
}
.side-bar + .main .main-header {
    display: none;
    background-color: #eeebee;
}