<nav aria-label="Auxiliary" class="aux-nav">
  <ul class="aux-nav-list">
    <li>
      <button id="theme-toggle" onclick="toggleTheme()">
        <svg id="theme-icon"></svg>
        <!--<img id="theme-icon" src="" alt="Theme Toggle">-->
      </button>
    </li>
  </ul>
</nav>

<script>
  function setInitialSymbol(){
    let theme = jtd.getTheme();
    let themeIcon = document.getElementById('theme-icon');
    if(theme === 'light'){
      themeIcon.innerHTML = '<path d="../assets/images/sun.svg">'; 
    }
    else{
      themeIcon.innerHTML = '<path d="../assets/images/moon.svg">'; 
    }
  }

  document.addEventListener('DOMContentLoaded', setInitialSymbol);
</script>