<nav aria-label="Auxiliary" class="aux-nav">
  <ul class="aux-nav-list">
    <li>
      <button class="btn js-toggle-dark-mode"><i>🌙</i></button>
    </li>
  </ul>
</nav>

<script>
  const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');

jtd.addEvent(toggleDarkMode, 'click', function(){
if (jtd.getTheme() === 'dark' || jtd.getTheme() === 'default') {
	jtd.setTheme('light');
	toggleDarkMode.innerHTML = <i>🌙</i>;
} else {
	jtd.setTheme('dark');
	toggleDarkMode.innerHTML = <i>☀️</i>;
	}
});
</script>
